html
  head
    title Web Scaling Demo

    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css",
      rel="stylesheet",
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7",
      crossorigin="anonymous"
    )

  body
    .container.text-center.mt-5
      h1 Hello From Server #{serverNumber}!
      .d-flex.justify-content-center.mt-3
        button#clickButton.btn.btn-primary Click Me!

    script(
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js",
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=",
      crossorigin="anonymous"
    )

    script.
      $('#clickButton').click(function () {
        alert('Current temperature is #{temperature}°C');
      });
